h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.5;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App {
  border-radius: 2%;
}

.header {
  background-color: white;
}

.navbar .btn {
  min-width: 140px;
  font-weight: 500;
  border: none;
  background-color: inherit;
  font-size: 1.2em;
  font-weight: 600;
  color: rgb(178, 22, 54);
}

.navbar .btn:hover {
  text-decoration: underline;
  color: rgb(178, 22, 54);
}

.navbar .btn-selected {
  font-weight: 700;
  text-decoration: underline;
}

.navbar-brand img {
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .navbar .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Disposition en ligne, logo + bouton hamburger */
  .navbar-nav, .navbar-toggler {
    display: flex;
    align-items: center;
  }

  /* Le bouton hamburger est aligné à droite */
  .navbar-toggler {
    margin-left: auto;  /* Force le bouton hamburger à la droite */
  }

  /* Les éléments du menu sont centrés */
  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    width: 100%;
  }

  /* Réduit la taille du logo pour mobile */
  .navbar-brand img {
    max-height: 50px;
  }

  .content {
    margin-top: 80px;
  }
}

/* Pour les grands écrans (min-width: 768px) */
@media (min-width: 768px) {
  .navbar-toggler {
    display: none;  /* Masquer le bouton hamburger sur grand écran */
  }

  /* Augmenter la taille du logo sur les grands écrans */
  .navbar-brand img {
    max-height: 150px;  /* Logo plus grand sur grand écran */
  }

  /* Centrer les éléments dans la navbar */
  .navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  /* Centrer les boutons horizontalement */
    text-align: center;
  }

  .navbar-nav .nav-item {
    display: inline-block;
  }

  .navbar-nav .btn {
    margin: 0 20px;  /* Ajouter de l'espace entre les boutons */
  }

  .content {
    margin-top: 204px;
  }
}

.nav-item > .active {
  text-decoration: underline;
  color: rgb(178, 22, 54);
}

.Info,
.About {
  background-color: #ffffff;
  color: #000000e3;
  padding: 1em;
  border-radius: 10px;
  /* box-shadow: rgb(36, 36, 36) 0px 0px 10px 10px; */
}

.Header {
  height: 20%;
  overflow: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content {
  padding: 2em;
  min-height: 60vh;
  background-color: whitesmoke;
}

.Contact {
  padding: 1em;
  background-color: rgb(178, 22, 54);
  color: white;
}

.contact-label {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 2px;
}

.contact-info {
  font-size: 1em;
}

.contact-link {
  text-decoration: none;
  color: inherit;
}

.contact-link:hover {
  color: #f0f0f038;
  text-decoration: underline;
}
