

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

body {
  /* font-family: "Verdana", sans-serif; */
  line-height: 1.5;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App {
  border-radius: 2%;
  /* background-color: rgb(178, 22, 54);
  box-shadow: rgb(151, 50, 50) 0px 0px 10px 10px; */
}

.header {
  height: 800px;
  background-color: white;
}

.button-avocat,.button-mediateur {
  /* color: rgb(178, 22, 54);
  background-color: white;
  cursor: pointer; 
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  border: gray 1px solid;
  width: 150px; */
  border: none;
  background-color: inherit;
  font-size: 1.2em;
  font-weight: 600;
  color: rgb(178, 22, 54);

}

.button-avocat {
  /* padding-right: 8px;
  border-radius: 25px 0px 0px 25px; */
  
}
.button-mediateur {
  /* padding-left: 8px;
  border-radius: 0px 25px 25px 0px;
  border-left: none; */
}
.button-avocat:hover,.button-mediateur:hover {
  /* color: white;
  background-color: rgb(178, 22, 54); */
  text-decoration: underline;
  color: rgb(178, 22, 54);
}

.nav-item >.active {
  /* color: white;
  background-color: rgb(178, 22, 54); */
  text-decoration: underline;
  color: rgb(178, 22, 54);
}



.content{
  margin-top: 800px;
  background-color: whitesmoke;
}


.Info,.About {
  background-color: #ffffff;
  color: #000000e3;
  padding: 1em;
  border-radius: 10px;
  /* box-shadow: rgb(36, 36, 36) 0px 0px 10px 10px; */
}

.Header {
  height: 20%;
  overflow: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Contact {
  padding: 1em;
  background-color: rgb(178, 22, 54);
  color: white;
}

.contact-label {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 2px;
}

.contact-info {
  font-size: 1em;
}

.contact-link {
  text-decoration: none;
  color: inherit;
}

.contact-link:hover {
  color: #f0f0f038;
  text-decoration: underline;
}